<div class="container-fluid article-page">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.submit "Update", class: "btn btn-primary submit-button"  %>
    <% end %>
  </div>
</div>
