<% flash.each do |key, value| %>
  <div class="alert alert-danger"><%= value %></div>
<% end %>

<div class="container-fluid article-page">
  <div class="col-md-8 col-md-offset-2">
    <%= semantic_form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, @categories, :id, :name, include_blank: true %>
    <%= f.submit "Post Article", class: "btn btn-primary submit-button"  %>
    <% end %>
  </div>
</div>
