<!DOCTYPE html>
<html>
  <head>
    <title><%= t("title") %></title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= t("title") %></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("header.new_article"), new_article_path %></li>
          <% if user_signed_in? %>
          <!--<li><%= current_user.email %></li>-->
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete  %></li>
          <% else %>
          <li><%= link_to "sign up", new_user_registration_path %></li>
          <li><%= link_to "login", new_user_session_path%></li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    
    <%= yield %>

  </body>
</html>
